
<div *ngIf="auth.user$ | async; then authenticated else guest">
  test
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
<h3>Hello, GUEST</h3>
<p>Login to get started...</p>

<button (click)="auth.googleSignin()">
  <i class="fa fa-google"></i> Connect Google
</button>



</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
<div *ngIf="auth.user$ | async as user">
  <h3>Hello, {{ user.displayName }}</h3>
  <img  [src]="user.photoURL" width="200" height="200">
  <p>UID: {{ user.uid }}</p>
  <p>KCUSD ID: {{ user.kcusdId }}</p>
  <p>KCUSD position: {{ user.position }}</p>
  <p>Subject Area: <span *ngFor="let subject of user.subjectArea">{{ subject }}, </span></p>
  KCUSD Grade Level: <span *ngFor="let level of user.gradeLevel">{{ level }}, </span>

  <button (click)="auth.signOut()">Logout</button>

</div>
</ng-template>




<router-outlet></router-outlet>
