<p>
  courses-list works!
</p>



  <table mat-table [dataSource]="coursesService.courses$" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="courseTitle">
      <th mat-header-cell *matHeaderCellDef> courseTitle </th>
      <td mat-cell *matCellDef="let course"> {{course.courseTitle}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="catagoryAbbreviation">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let course"> {{course.catagoryAbbreviation}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="catagory">
      <th mat-header-cell *matHeaderCellDef> catagory </th>
      <td mat-cell *matCellDef="let course"> {{course.catagory}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="courseId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let course"> {{course.courseId}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="coursesService.courseListTableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: coursesService.courseListTableColumns;"></tr>
  </table>