<mat-card>
  <mat-card-header>
    <mat-card-title>Add Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>

      <mat-form-field>
          <mat-label>User Role</mat-label>

          <mat-select required>
            <mat-option value="viewer">viewer</mat-option>
            <mat-option value="participant">participant</mat-option>
            <mat-option value="presenter">presenter</mat-option>
            <mat-option value="analyst">analyst</mat-option>
            <mat-option value="admin">admin</mat-option>
          </mat-select>
        </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>